# import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
pathk=r'/Users/keerthiputti/Desktop/Data Analysis/Instacart Basket Analysis-Python/02 Data'

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [4]:
#importing data frame
orders_products_combined=pd.read_pickle(os.path.join(pathk,'Prepared Data','orders_products_combined.pkl'))

In [5]:
orders_products_combined.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

Check the shape of the imported dataframe

In [6]:
orders_products_combined.shape

(32434489, 10)

Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [7]:
#importing wrangled products data
df_prods=pd.read_csv(os.path.join(pathk,'Prepared Data','products_cleaned.csv'),index_col=False)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prod_wrangled=df_prods.drop(columns=['Unnamed: 0'])

In [10]:
df_prod_wrangled.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [14]:
orders_products_combined.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [15]:
#merging data sets
orders_products_merged=orders_products_combined.merge(df_prod_wrangled,on=['product_id'],indicator=True)

In [17]:
orders_products_merged.shape

(32404859, 14)

In [20]:
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
#Exporting file as pickle file
orders_products_merged.to_pickle(os.path.join(pathk,'Prepared data','Merged_file.pkl'))