# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#creating  data frame for df_ords_prior
pathk=r'/Users/keerthiputti/Desktop/Data Analysis/Instacart Basket Analysis-Python/02 Data'

In [3]:
df_ords_prior=pd.read_csv(os.path.join(pathk,'Prepared Data','order_products__prior.csv'),index_col=False)

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
for col in df_ords_prior.columns.tolist():
    weird=(df_ords_prior[[col]].applymap(type)!=df_ords_prior[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_ords_prior[weird])>0:
        print(col)

In [6]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [7]:
df_ords_prior_dups=df_ords_prior[df_ords_prior.duplicated()]

In [8]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords=pd.read_csv(os.path.join(pathk,'Prepared Data','orders_clean_agn.csv'),index_col=False)

In [12]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [21]:
#dropping Unnamed : 0 column
dfords=df_ords.drop(columns=['Unnamed: 0'])

In [23]:
#final orders data frame
dfords.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
dfords.shape

(3421083, 6)

In [25]:
df_ords_prior.shape

(32434489, 4)

In [26]:
#mergingdfords snd df_ords_prior data set based on order id
df_merged_large = dfords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [28]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [30]:
#pickling it
df_merged_large.to_pickle(os.path.join(pathk, 'Prepared Data', 'orders_products_combined.pkl'))