# Importing libraries

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create path
pathk=r'/Users/keerthiputti/Desktop/Data Analysis/Instacart Basket Analysis-Python/02 Data'

In [4]:
#importing the merged data
ords_prods_merged=pd.read_pickle(os.path.join(pathk,'Prepared Data','Merged_file.pkl'))

In [5]:
ords_prods_merged.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [6]:
df_sub = ords_prods_merged[:1000000]

In [7]:
df_sub.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [8]:
#function to categorise price into ranges
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
# creating new column
df_sub['price_range'] = df_sub.apply(price_label, axis=1)

/var/folders/2f/9v7c1_v50z5919rws2_ds4rm0000gn/T/ipykernel_7175/3369573816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['price_range'] = df_sub.apply(price_label, axis=1)

In [10]:
#counting the categories
df_sub['price_range'].value_counts(dropna=False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [11]:
#checking max price
df_sub['prices'].max()

14.8

In [12]:
df_sub.loc[df_sub['prices']>15,'price_range_loc']='high-range product'

/var/folders/2f/9v7c1_v50z5919rws2_ds4rm0000gn/T/ipykernel_7175/287993283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub.loc[df_sub['prices']>15,'price_range_loc']='high-range product'

In [13]:
df_sub.loc[(df_sub['prices']<=15) & (df_sub['prices']>5),'price_range_loc']='Mid-range product'

In [14]:
df_sub.loc[df_sub['prices']<=5,'price_range_loc']='Low-range prodcucts'

In [15]:
df_sub['price_range_loc'].value_counts(dropna=False)

Mid-range product      756450
Low-range prodcucts    243550
Name: price_range_loc, dtype: int64

In [16]:
#creating price_range_loc on merged_data
ords_prods_merged.loc[ords_prods_merged['prices']>15,'price_range_loc']='high-range product'

In [17]:
ords_prods_merged.loc[(ords_prods_merged['prices']<=15)&(ords_prods_merged['prices']>5),'price_range_loc']='mid-range product'

In [18]:
ords_prods_merged.loc[ords_prods_merged['prices']<=5,'price_range_loc']='low-range product'

In [19]:
ords_prods_merged['price_range_loc'].value_counts(dropna=False)

mid-range product     21860860
loe-range product     10126321
high-range product      417678
Name: price_range_loc, dtype: int64

In [20]:
#counting orders on days of week
ords_prods_merged['Order_day_of_the_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: Order_day_of_the_week, dtype: int64

In [21]:
#setting up busy days
result = []

for value in ords_prods_merged["Order_day_of_the_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
ords_prods_merged['businest_day']=result

In [23]:
ords_prods_merged['businest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: businest_day, dtype: int64

4.7(2) finding businest days 0 and 1 busiest days , 3 adn 4 as slowest days, rest as regular days

In [24]:
#creating list to check values
check_days = []

for value in ords_prods_merged["Order_day_of_the_week"]:
  if (value == 0) | (value == 1):
    check_days.append("Busiest days")
  elif (value == 4) | (value == 3):
    check_days.append("slowest days")
  else:
    check_days.append("Regular days")

In [25]:
#creating column from list
ords_prods_merged['businest_days']=check_days

In [26]:
ords_prods_merged['businest_days'].value_counts(dropna=False)

Regular days    12916111
Busiest days    11864412
slowest days     7624336
Name: businest_days, dtype: int64

Finding the busiest hours of days(periods)

In [27]:
ords_prods_merged['order_hour_of_day'].value_counts(dropna=False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

we can divide busiest 6 hours(10 to 15) as "most orders", 6 hours(0 to 5) as "Fewest orders" and rest as " Average Orders"

In [28]:
Orders_period = []

for x in ords_prods_merged["order_hour_of_day"]:
  if (x >= 10) & (x <= 15):
    Orders_period.append("Most Orders")
  elif (x >=0) & (x <= 5):
    Orders_period.append("Fewest orders")
  else:
    Orders_period.append("Average orders")

In [29]:
len(Orders_period)

32404859

In [30]:
#creating column and copying list
ords_prods_merged['busiest_period_of_day']=Orders_period

In [31]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna=False)

Most Orders       16128666
Average orders    15679865
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [32]:
ords_prods_merged.head(100)

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,businest_day,businest_days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,mid-range product,Regularly busy,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,mid-range product,Regularly busy,slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,mid-range product,Regularly busy,slowest days,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,mid-range product,Least busy,slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,mid-range product,Least busy,slowest days,Most Orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,7.0,196,1,0,Soda,77,7,9.0,both,mid-range product,Regularly busy,Regular days,Most Orders
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,mid-range product,Regularly busy,Regular days,Average orders
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,mid-range product,Least busy,slowest days,Most Orders
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,mid-range product,Regularly busy,Busiest days,Average orders
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,mid-range product,Regularly busy,slowest days,Average orders

In [33]:
#exporting the file into pickle
ords_prods_merged.to_pickle(os.path.join(pathk,'Prepared Data','orders_products_merged_variable.pkl'))