# importing librabries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating path
pathk=r'/Users/keerthiputti/Desktop/Data Analysis/Instacart Basket Analysis-Python'

In [13]:
#importin dataframe
df_customer=pd.read_csv(os.path.join(pathk,'02 Data','Original Data','customers.csv'),index_col=False)

In [14]:
df_customer.shape

(206209, 10)

In [15]:
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [11]:
df_customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

# Wrangling and transformation

1.Dropping columns- there are no columns that seems to be irrelevant. so I have decided to keep them
2. Renaming columns - Column names seems to be non-uniform. so we can correct them.
3. User_id field needs to be changed to string.
4. No transposing required on this data.

In [18]:
#creating new column name dictionary
new_name={'user_id':'user_id',
          'First Name':'first_name',
         'Surnam':'last_name',
         'Gender':'gender',
         'STATE':'state',
         'Age':'age',
         'date_joined':'date_joined',
         'n_dependants':'dependents_nbr',
         'fam_status':'marital_status',
         'income':'income'}

In [21]:
#renaming columns
df_customer.rename(columns=new_name,inplace=True)

In [22]:
df_customer.head()

,user_id,first_name,last_name,gender,state,age,date_joined,dependents_nbr,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [23]:
#changing user_id data type to string
df_customer['user_id']=df_customer['user_id'].astype('str')

In [24]:
#verifying
df_customer.dtypes

user_id           object
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
dependents_nbr     int64
marital_status    object
income             int64
dtype: object

In [25]:
df_customer.shape

(206209, 10)

# consistency checks

we have 3 types in consistency check
1. find and fix mixed datatype
2. find and fix missing data
3. find and fix duplicates

In [32]:
# 1 mixed data type check
for col in df_customer.columns.tolist():
    weird=(df_customer[[col]].applymap(type)!=df_customer[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_customer[weird])>0:
        print(col)

first_name

In [33]:
#changing first_name data type to string as the name should be in string
df_customer['first_name']=df_customer['first_name'].astype('str')

In [35]:
df_customer.dtypes

user_id           object
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
dependents_nbr     int64
marital_status    object
income             int64
dtype: object

In [36]:
#2 checking missing values 
df_customer.isnull().sum()

user_id           0
first_name        0
last_name         0
gender            0
state             0
age               0
date_joined       0
dependents_nbr    0
marital_status    0
income            0
dtype: int64

As the result shows 0 for all columns, meaning, there are no missing value.

In [38]:
# 3 checking duplicate values
df_customer_dups=df_customer[df_customer.duplicated()]

In [40]:
df_customer_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, dependents_nbr, marital_status, income]
Index: []

empty data frame indicates no duplicates in customer data. no action needed

importing merged orders and products data.

In [43]:
#import merged_data
df_ords_prods=pd.read_pickle(os.path.join(pathk,'02 Data','Prepared Data','orders_merged_flagged.pkl'))

In [50]:
df_customer.dtypes

user_id           object
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
dependents_nbr     int64
marital_status    object
income             int64
dtype: object

In [51]:
df_ords_prods.dtypes

order_id                    int64
user_id                     int64
order_number                int64
Order_day_of_the_week       int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
max_order                   int64
loyalty_flag               object
averge_price              float64
spend_flag                 object
order_frequency           float64
frequency_flag             object
dtype: object

In [52]:
#changing data types of user_id and order_id in ords_prods data frame
df_ords_prods['user_id']=df_ords_prods['user_id'].astype('str')

In [53]:
df_ords_prods['order_id']=df_ords_prods['order_id'].astype('str')

In [54]:
df_ords_prods.dtypes

order_id                   object
user_id                    object
order_number                int64
Order_day_of_the_week       int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
max_order                   int64
loyalty_flag               object
averge_price              float64
spend_flag                 object
order_frequency           float64
frequency_flag             object
dtype: object

In [44]:
df_customer.shape

(206209, 10)

In [45]:
df_ords_prods.shape

(32404859, 20)

In [46]:
#dropping merge column to set new indicator
df_ords_prods=df_ords_prods.drop(columns=['_merge'])

In [47]:
df_ords_prods.shape

(32404859, 19)

In [55]:
#merging data by user_id
df_fin_merge=df_ords_prods.merge(df_customer,on=['user_id'],indicator=True)

In [56]:
df_fin_merge.shape

(32404859, 29)

In [57]:
df_fin_merge.head()

,order_id,user_id,order_number,Order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,first_name,last_name,gender,state,age,date_joined,dependents_nbr,marital_status,income,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [58]:
df_fin_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [60]:
#exporting data as pickle file
df_fin_merge.to_pickle(os.path.join(pathk,'02 Data','Prepared Data','final_data.pkl'))